block variables

-var floors = { '1': 'floor-1.html', '2': 'floor-2.html', '3': 'floor-3.html', '4': 'floor-4.html'};
-var pages = {'Главная': '/', 'Помещения в аренду': 'offices.html', 'Характеристики здания': 'specification.html', 'Техническое оснащение и сервис': 'service.html', 'Местоположение': 'location.html', 'История и архитектура': 'history.html', 'Фотогалерея': 'gallery.html', 'Контакты': 'contacts.html'};

doctype html
html(lang="en").building-detail
  head
    meta(charset="UTF-8")
    link(rel="shortcut icon" href="./assets/img/icons/favicon.ico" type="image/x-icon")
    link(rel="icon" href="./assets/img/icons/favicon.png" type="image/x-icon")
    link(href="https://fonts.googleapis.com/css?family=EB+Garamond:400,400i,700,700i|Montserrat:300,300i,400,400i,600,600i&display=swap&subset=cyrillic,cyrillic-ext,latin-ext" rel="stylesheet")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    meta(name='description' content="Аренда офиса в Адмиралтейском районе – удобная транспортная развязка, развитая инфраструктура и прекрасный вид из окна на Неву — основные достоинства офисного комплекса.")
    title Бизнес-центр «Английская 70 / Галерная 73»
    script(type="text/javascript")
      | (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
      | m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
      | (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");
      | ym(54766027, "init", {
      |   clickmap:true,
      |   trackLinks:true,
      |   accurateTrackBounce:true,
      |   webvisor:true
      | });
    noscript
      div
        img(src="https://mc.yandex.ru/watch/54766027" style="position:absolute; left:-9999px;" alt="")
  body.body
    .wrapper.wrapper__floor
      header.header
        a.logo(href='/')
          span элитный
          span деловой
          span особняк
        a.phone.hidden__md(href="tel:+79219380363")
        .burger
          input#menu-switch(type="checkbox")
          nav#navigation
            ul
              each val, key in pages
                if page === key
                  li.active
                    a(href=val)= key
                else
                  li
                    a(href=val)= key
            .quick-contact
              a.logo
                span элитный
                span деловой
                span особняк
              address.visible__md
                | 190121 Санкт-Петербург,
                br 
                | Английская наб., 70
              p.contacts 
                | Телефон: 
                a(href="tel:+79219380363") +7 (921) 938-03-63
                br 
                | e-mail: 
                a(href="office-centre@mail.ru") office-centre@mail.ru
          label.menu-switch(for='menu-switch')
            span
      .hotline.visible__md
        a.hotline__home(href="/")
        .hotline__number
          a(href="tel:+79219380363") 
            span.hotline__prefix +7 
            | (921) 743-53-59
      section.p-building-detail
        ul.p-building-detail__nav
          each val, key in floors
            if active === key
              li.active
                a= key
            else
              li
                a(href=val)= key
        .p-building-detail__image
          block image
        article.p-building-detail__info
          block content-1
          div.p-building-detail__spaces
            block content-2
          p
            block description
          .p-building-detail__buttons
            a.btn(href="contacts.html") связаться
      include ../includes/module/footer